@import '../includes/colors.scss';

.btn{
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #fff;
    height: 42px;
    width: 42px;
    background: color(bg);
    transition: 100ms;
    // background: url('../assets/img/menu.svg') no-repeat center /21px;

    .square, .rectangle{
        border-radius: 5%;
    }

    .empty{
        border: 0px;
        border-radius: 0%;
    }
}