@import "../includes/colors.scss";

.details {
  position: fixed;
  top: 10%;
  left: 20%;
  padding: 10px;
  background: color(bg);
  // box-shadow: 5px 5px 15px -1px #000000;
  // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px -1px rgba(0,0,0,0);
  box-shadow: 0px 0px 15px 8px color(box-shadow);

  .dtl_clse {
    float: right;
  }

  .content {
    padding: 20px;
  }

  img {
    margin-left: 8%;
    height: auto;
    width: 180px;
    border-radius: 10%;
    border: 5px solid #fff;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 0 10px 1px color(hover);
    }
  }

  .det {
    p {
      span {
        font-weight: bolder;
        font-size: 18px;
        display: inline-block;
        margin-right: 20px;
        text-align: right;
      }

      font-size: 15px;
    }
  }
}

.dtl_btn {
  position: fixed;
  bottom: 10%;
  left: 10%;
  height: 64px;
  width: 64px;
  background: url("../../assets/img/rmk.jpg");
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 5%;

  &:hover {
    box-shadow: 0 0 10px 1px color(hover);
  }
}
