@import '../includes/colors.scss';

.nav{
    position: fixed;
    // background: #faf;
    max-width: 300px;
    max-height: 300px;
    bottom: 10px;
    right: 10px;
    transition: 100ms;

    .nav_overlay{
        position: fixed;
        z-index: -8;
        bottom: 0;
        right: 0;
        width: 170px;
        height: 170px;
        background: color(bg);
        border-radius: 300px 0 0 0;
        transition: 100ms;
    }

    .nav_ol_hide{
        display: none;
        transition: 100ms;
    }

    .nav_menu{
        float: right;
        margin: 5px 10px;
    }
    
    .nav_chat{
        margin-bottom: 45px;
    }
    
    .nav_prof{
        margin-right: 15px;
        margin-bottom: 13px;
    }
    
    .nav_desc{
        margin-bottom: -50px;
        margin-right: -15px;
    }
    
    .nav_details{
        display: none;
    }
}