@import '../includes/colors.scss';

.panel{
    position: absolute;
    right: 70px;
    width: 35%;
    padding: 20px 30px;
    background: color(bg);
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px -1px rgba(0,0,0,0);
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 11px 8px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 15px 8px color(box-shadow);

    .pnl_clse{
        float: right;
    }
}