@import './includes/colors.scss';

body, root {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  color: color(txt);
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

li{
  list-style: none;
}